<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <p>Pendaftaran Berhasil</p>
  <p>Mohon klik link berikut ini untuk verifikasi akun anda</p>
  <a href="{{verificationLink}}">Klik untuk verifikasi akun</a>
</body>
</html>